@use 'bootstrap/scss/bootstrap.scss';
@use './partials/variables' as *;
@use './partials/mixins' as *;

// header
header {
    background-color: $background-color;
}


// main
main {
    background-color: $background-color;
}


// footer
footer {
    background-color: $background-color;
}